[
  {
    rabbit,
    [
      {loopback_users, []},
      {default_user, <<"{{CUSTOM_DEFAULT_USER}}">>},
      {default_pass, <<"{{CUSTOM_DEFAULT_PASSWORD}}">>},
      {tcp_listeners, [5672] },
      {cluster_partition_handling, autoheal},
      {delegate_count, 64},
      {fhc_read_buffering, false},
      {fhc_write_buffering, false},
      {heartbeat, 60},
      {queue_index_embed_msgs_below, 0},
      {queue_index_max_journal_entries, 8192},
      {log, [{console, [{level, info}]}]},
      {vm_memory_high_watermark, 0.8}
    ]
  },
  {rabbitmq_web_stomp,
      [ {tcp_config, [{port, 15670}]},
        {ssl_config, [{port,       15671},
                     {backlog,    1024},
                     {verify,verify_peer},
                     {fail_if_no_peer_cert,true},
                     {certfile,   "/ssl/rabbit-server.cert.pem"},
                     {keyfile,    "/ssl/rabbit-server.key.pem"},
                     {cacertfile, "/ssl/cacert.pem"}]}]}
].
